site_name: Base de Conocimiento Personal
site_url: https://abdielgv162.github.io/base-de-conocimiento/
site_description: Mi base de conocimiento personal con Obsidian y MkDocs
site_author: Abdiel Guerrero

# Tema Material Design
theme:
  name: material
  language: es
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.tabs.link
  palette:
    # Modo claro
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Modo oscuro
    # Modo oscuro
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/weather-night
        name: Modo claro

# Plugins
plugins:
  - search
  - awesome-pages  # Para navegación automática

# Extensiones Markdown
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

# Variables extra
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/abdielgv162
      name: GitHub

