site_name: Mi Base de Conocimiento
site_url: https://abdielgv162.github.io/base-de-conocimiento/

theme:
  name: material
  features:
    - navigation.sections
    - search.suggest
    - search.highlight

plugins:
  - search

# Navegación básica
nav:
  - Inicio: index.md
